In [1]:
ls = [1,2,3,4,5,6,7]

In [2]:
ls2 = [x for x in ls]

In [3]:
ls2

[1, 2, 3, 4, 5, 6, 7]

In [4]:
ls3 = [x*10 for x in ls]

In [5]:
ls3

[10, 20, 30, 40, 50, 60, 70]

In [6]:
ls4 = [x*10 for x in ls if x%2==0]

In [7]:
ls4

[20, 40, 60]

# dont do this:

In [8]:
ls5 = [x*10 for x in [x*4 for x in ls if x > 3] if x%2==0]

In [9]:
ls5

[160, 200, 240, 280]

## lazy lists

In [11]:
m = map(lambda x:x*10 , ls)

In [12]:
m

In [13]:
next(m)

10

In [14]:
next(m)

20

In [15]:
ls

[1, 2, 3, 4, 5, 6, 7]

In [17]:
ls[2]=99

In [18]:
next(m)

990

In [19]:
list(m)

[40, 50, 60, 70]

In [20]:
list(m)

[]

In [21]:
m = map(lambda x:x*3 ,ls)

In [22]:
for i in m:
    print(i)

3
6
297
12
15
18
21

In [23]:
for i in m:
    print(i)

In [24]:
def gen1():
    print("aaa")
    yield 10
    print("bbb")
    yield 20
    print("ccc")
    yield 30
    print("ddd")
    
    
    
def gen2(x):
    
    while x < 10:
        yield x*10
        x+=1
        

def gen3(x,y):
    a = x
    while True:
        yield x*10
        x+=1
        if x == y:
            x = a

In [25]:
g = gen1()

In [26]:
for i in g:
    print(i)

aaa
10
bbb
20
ccc
30
ddd

# example

c = Customerlist(city='haifa')

for i in c:<br>
    print(c.getName())

In [29]:
import random

In [54]:
random.randint(1,20)

14